* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
=================================== 

Navbar

==================================
*/
.navbar {
  text-align: center;
  padding: 1.2rem;
  background: #002060;
  color: white;
  letter-spacing: 2px;
  font-family: Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1rem;
}

/* 
==========================================

Hero 

==========================================
 */
.hero {
  padding: 1rem;
  display: grid;
  gap: 3rem;
  padding: 2.5rem;
}

.hero-article {
  display: grid;
  background: rgb(210, 221, 221);
  padding: 1rem;
  border-radius: 1rem;
  webkit-transition: all 0.5s 0s ease-in-out;
  -moz-transition: all 0.5s 0s ease-in-out;
  -o-transition: all 0.5s 0s ease-in-out;
  transition: all 0.5s 0s ease-in-out;
}
.hero-article:hover {
  transform: scale(1.04);
}
.hero-article-img-container {
  height: 10rem;
}
.hero-article h2 {
  color: blueviolet;
  text-align: center;
  padding: 0.6rem;
}
.hero-article p {
  text-align: center;
  letter-spacing: 2px;
  font-size: 1.2rem;
}
.hero-article-img {
  width: 100%;
  height: 100%;
}
.hero-article-btn-container {
  padding: 1rem;
  text-align: center;
}
.hero-article-btn {
  border: none;
  font-size: 1.3rem;
  padding: 0.2rem 0.8rem;
  background: #002060;
  color: white;
  letter-spacing: 2px;
  transition: all 0.3s;
}
.hero-article-btn:hover {
  cursor: pointer;
}
.hero-article-btn:active {
  background: #010d25;
}
@media screen and (min-width: 700px) {
  .hero {
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    padding-top: 5rem;
  }
}
@media screen and (min-width: 900px) {
  .hero {
    gap: 15rem;
    padding: 5rem 6rem;
  }
}

/* 
================================================

Footer

================================================
*/
.footer {
  display: flex;
  justify-content: center;
  color: white;
  background: #010d25;
  padding: 2rem 1rem;
}
.cowin-href {
  padding-left: 0.5rem;
  text-decoration: none;
  color: white;
}
