* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
=================================== 

Navbar

==================================
*/
.navbar {
  text-align: center;
  padding: 1.2rem;
  background: #002060;
  color: white;
  letter-spacing: 2px;
  font-family: Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1rem;
}

/* 
==========================================

Hero 

==========================================
 */
.hero {
  padding: 4rem;
  display: grid;
  gap: 3rem;
  padding: 2.5rem;
}

.hero-article {
  display: grid;
  background: rgba(234, 236, 240, 0.294);
  padding: 1rem;
  border-radius: 1rem;
  -webkit-transition: all 0.5s 0s ease-in-out;
  -moz-transition: all 0.5s 0s ease-in-out;
  -o-transition: all 0.5s 0s ease-in-out;
  transition: all 0.5s 0s ease-in-out;
}
.hero-article:hover {
  transform: scale(1.04);
}
.hero-article-img-container {
  height: 10rem;
}
.hero-article h2 {
  color: blueviolet;
  text-align: center;
  padding: 0.6rem;
}
.hero-article p {
  text-align: center;
  letter-spacing: 2px;
  font-size: 1.2rem;
}
.hero-article-img {
  width: 100%;
  height: 100%;
}
.hero-article-btn-container {
  padding: 1rem;
  text-align: center;
}
.hero-article-btn {
  border: none;
  font-size: 1.3rem;
  padding: 0.2rem 0.8rem;
  background: #002060;
  color: white;
  letter-spacing: 2px;
  transition: all 0.3s;
}
.hero-article-btn:hover {
  cursor: pointer;
}
.hero-article-btn:active {
  background: #010d25;
}
@media screen and (min-width: 700px) {
  .hero {
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    padding-top: 5rem;
  }
}
@media screen and (min-width: 900px) {
  .hero {
    gap: 15rem;
    padding: 5rem 6rem;
  }
}

/* 
================================================

Footer

================================================
*/
.footer {
  display: flex;
  justify-content: center;
  color: white;
  background: #010d25;
  padding: 2rem 0.5rem;
  /* margin-top: 20rem */
}
.cowin-href {
  padding-left: 0.5rem;
  text-decoration: none;
  color: white;
}
/* 
=======================================

Loading Section

=======================================
*/

.loading-section {
  padding: 5rem;
  text-align: center;
  height: 90vh;
  display: grid;
  align-items: center;
  justify-content: center;
}
.loading-section-img {
  max-width: 70vw;
  max-height: 50vh;
}

/*
=========================================

Vaccine Centers

=========================================
 */
.vaccine-centers-container {
  min-height: 90vh;
  /* max-height: 100vh; */
}
.vaccine-centers {
  /* height: 90vh; */
  padding: 4rem;
  text-align: center;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 0rem;
}
.vaccine-centers h2 {
  text-transform: capitalize;
  color: #ad0948;
  font-size: 2rem;
}
@media screen and (min-width: 800px) {
  .vaccine-centers h2 {
    font-size: 3rem;
  }
}
.vaccine-centers-btn {
  font-size: 1rem;
  border: none;
  background: rgb(169, 215, 233);
  padding: 0.5rem 1rem;
  width: 7rem;
  transition: all 0.1s ease-in-out;
}
.vaccine-centers-btn:hover {
  cursor: pointer;
}
.vaccine-centers-btn-clicked {
  cursor: pointer;
  background: #002060;
  color: white;
}
@media screen and (min-width: 800px) {
  .vaccine-centers-btn {
    font-size: 1.5rem;
    padding: 0.75rem 1.5rem;
    width: 10rem;
  }
}
.pin-search-form {
  display: grid;
  gap: 1rem;
}
.pin-search {
  padding: 1rem;
}
.pin-search-input {
  font-size: 1.2rem;
  padding: 8px;
  border: none;
  border: 1.4px solid black;
  border-radius: 1rem;
}
.pin-search-input:focus {
  outline: none;
}
.search-btn {
  border: none;
  background: transparent;
  background: #002060;
  color: white;
  padding: 0.5rem 1rem;
}
.search-btn:hover {
  cursor: pointer;
}
.district-search-form {
  display: grid;
}
.select-state-container {
  padding: 1rem;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}
.select-state-container label {
  font-size: 1rem;
  color: #600000;
  align-self: center;
}
.select-state-container select {
  padding: 0.23rem;
  background: rgb(87, 83, 136);
  color: white;
}
.select-state-container option {
  color: whitesmoke;
  padding: 0.5rem;
}
.select-district-container {
  padding: 1rem;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}
.select-district-container label {
  justify-self: start;
  text-transform: capitalize;
  font-size: 1rem;
  color: #600000;
  align-self: center;
}
.select-district-container select {
  padding: 0.23rem;
  background: rgb(87, 83, 136);
  color: white;
}
.district-search-btn-container {
  padding-top: 2rem;
}
/*
===========================================

Response Error Section

==========================================
 */

.response-error-section {
  text-align: center;
}
.response-error-section h3 {
  margin-bottom: 1rem;
}
/*
===============================================

Response Section

===============================================
 */
.response-section {
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
  max-width: 100vw;
  overflow: visible;
  /* overflow:hidden */
}
.slots-not-found-img {
  width: 30vw;
  height: 30vw;
}
.slots-not-found-img-container {
  /* padding: 1rem; */
  text-align: center;
}
.filter-btns {
  display: flex;
  justify-content: center;
  max-width: 100vw;
  overflow: hidden;

  padding: 0.5rem;
  display: none;
  align-items: center;
  margin-bottom: 3rem;
}
.filter-btn {
  list-style: none;
  margin: 0 2rem;
  padding: 0.5rem;
  border: 1px solid #002060;
  align-self: center;
}
.filter-btn:hover {
  cursor: pointer;
}
@media screen and (min-width: 800px) {
  .filter-btns {
    display: flex;
  }
}
.filter-btn-clicked {
  background: #002060;
  color: white;
}
/*
==================================================

Response Table

=================================================
 */
.table-headings,
.table-row {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 0.5rem;
  /* gap: 1px; */
}
.table-heading,
.table-col {
  width: 9rem;
  height: 8rem;
  /* border: 1px solid #002060; */
  overflow: hidden;
  background: white;
  user-select: none;
  text-align: center;
}
.table-heading {
  color: #600000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 1.5rem;
}
.response-table {
  max-width: 100vw;
  overflow-x: scroll;
  background: #f0f0f1;
  display: grid;
  gap: 0.5rem;
  border: 0.5rem solid #f0f0f1;
  border-right: 0;
  /* max-height: 90vh; */
  overflow-y: scroll;
}

@media screen and (min-width: 800px) {
  .response-table::-webkit-scrollbar {
    display: none;
  }
  .response-table {
    scrollbar-width: none;
    max-width: 1300px;
  }
}
.no-slot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: darkcyan;
}
.slot-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.slot-capacity {
  color: white;
  background: red;
  /* font-size: 1.4rem; */
  padding: 0.4rem;
  border-radius: 50%;
}
.age-limit {
  color: tomato;
  background: aqua;
  padding: 0.2rem;
  border-radius: 45%;
}
.vaccine-type {
  color: chocolate;
}
.hospital-name {
  color: rgb(53, 65, 2);
  font-family: Arial, Helvetica, sans-serif;
  /* user-select: all; */
}
.hospital-name-cost-container {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.cost {
  background: aquamarine;
  border-radius: 40%;
  padding: 0.3rem;
}
